extends layout

block content
    h1 Hello!
    if card.length
        p Here are the people:
        table
            thead
                td ID
                td Name
                td Age
            each card in card
                tr
                    td #{card.id}
                    td #{card.question}
                    td #{card.answer}

        pre= JSON.stringify(card, null, 2)
    else
        p There're no cards yet :(
    script.
        console.log(!{JSON.stringify(card)})
