extends layout

block content
    h1 Hello!
    if cards.length
        p Here are the cards:
        table
            thead
                td ID
                td Question
                td Answer
            each card in cards
                tr
                    td #{card.cardId}
                    td #{card.question}
                    td #{card.answer}

        pre= JSON.stringify(cards, null, 2)
    else
        p There're no cards yet :(
    script.
        console.log(!{JSON.stringify(cards)})
